<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cookpad.mapper.RecipeMapper">

    <select id="getRecipesWithNutrition" resultMap="RecipeWithNutritionResultMap">
        SELECT r.recipe_id, r.recipe_name, r.recipe_type,
            n.calories, n.protein, n.fat
        FROM Recipes r
            INNER JOIN Nutrition n ON r.recipe_id = n.recipe_id
        ORDER BY r.recipe_name;
    </select>

    <resultMap id="RecipeWithNutritionResultMap" type="com.cookpad.responses.RecipeWithNutritionResponse">
        <result property="id" column="recipe_id"/>
        <result property="name" column="recipe_name"/>
        <result property="type" column="recipe_type"/>
        <result property="calories" column="calories"/>
        <result property="protein" column="protein"/>
        <result property="fat" column="fat"/>
    </resultMap>

</mapper>

